.news {
  position: relative;
  width: 18vw;
  filter: contrast(70%);
  transition: all 0.3s ease;
  display: inline;
  margin: 1rem;
}

.news:hover {
  filter: contrast(100%);
}

.news-image {
  display: inline;
}

.news img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  object-fit: cover;
}

.news-info {
  width: 100%;
  display: inline;
  font-family: inherit;
  cursor: pointer;
  position: sticky;
  line-height: 32px;
}

html.dark .news-info {
  color: var(--text-color);
}

.news-info-title {
  width: 100%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.news-info-detail {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
