.toast-notif-container {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 999;
}

.toast-notif {
  background-color: var(--input-color);
  color: var(--text-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 0 10px;
}

.toast-message {
  font-size: 14px;
}
