.newsfeed {
  display: inline;
  flex-direction: column;
}

.news-container {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.latest-news {
  padding-top: 20px;
}

@media (max-width: 625px) {
  .news-container {
    justify-content: center;
  }
}
