@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600;700&display=swap');
:root {
  --primary-color: #dfdbd5;
  --secondary-color: #fbf7f0;
  --tertiary-color: #cdc9c3;
  --text-color: #000;
  --input-color: #fff;
}
html.dark {
  --primary-color: #151515;
  --secondary-color: #362222;
  --tertiary-color: #423f3e;
  --text-color: #fff;
  --input-color: #000;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0 auto;
  /* position: relative; */
}

.app-container {
  padding: 50px 100px;
  padding-bottom: 0;
}

input:focus,
button:focus {
  outline: none;
}
button {
  pointer-events: auto;
}
button:active {
  transform: scale(0.9);
}
@media (max-width: 950px) {
  .app-container {
    padding: 35px;
  }
}
@media (max-width: 400px) {
  .app-container {
    padding: 35px 15px;
  }
}
